/* FONTS */
@import url("https://rsms.me/inter/inter.css");
@font-face {
  font-family: "ISO";
  src: url("fonts/ISOv0.8-Regular.woff2") format("woff2"),
    url("fonts/ISOv0.8-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/* COLORS */
@media (prefers-color-scheme: light) {
  :root {
    --background: #136d3b;
    --font-main: #ffffff;
    --font-links: #f6edec;
    --font-highlight: #f6edec;
    --red: #ff7473;
    --darkred: #b5b6d7;
    --lightgray: #b5b6d7;
    --gray: #b5b6d7;
    --darkgray: #b5b6d7;
    --navy: #0f25aa;
    --blue: #47b8e0;
    --white: #feffff;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #223b71;
    --font-main: #ffffff;
    --font-links: #f6edec;
    --font-highlight: #f6edec;
    --red: #ff7473;
    --darkred: #b5b6d7;
    --lightgray: #b5b6d7;
    --gray: #b5b6d7;
    --darkgray: #b5b6d7;
    --navy: #0f25aa;
    --blue: #47b8e0;
    --white: #feffff;
  }
}

/* GENERAL CSS */

html {
  font-family: "ISO", sans-serif, "Segoe UI Emoji", "Apple Color Emoji",
    "Segoe UI Symbol";
  background-color: var(--background);
  color: var(--font-main);
}
body {
  line-height: 1.8;
}
a {
  text-decoration: none;
  color: gray;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  letter-spacing: 0.09em;
}

input[type="text"] {
  outline: none;
  border: none;
  background: none;
  width: 500px;
}

footer {
  position: fixed;
  top: 90vh;
  width: 100vw;
}

footer select {
  cursor: pointer;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-left: 1rem;
  margin-left: -1rem;
}

img {
  overflow: hidden;
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

iframe {
  border: 0;
}

h1 {
  font-size: 48px;
  line-height: 1.4;
  letter-spacing: -1.5px;
}

h2 {
  font-family: "ISO";
  font-size: 48px;
  line-height: 126.7%;
}

h3 {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}
h4 {
  text-transform: lowercase;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.06em;
}

button {
  border-style: none;
  border-color: none;
}
.search {
  width: 80vw;
  height: 40px;
}
.hero-text {
  font-size: 1.25rem;
  line-height: 24px;
}

/*Hero Hover Effects*/

#hero-tiny-factories {
}

#hero-slate {
}

#hero-invisible-infrastructure {
}

#hero-reading {
}
