---
title: Atmosphere
description: Extend radio culture back to its personal, intimate, & cultural roots of storytelling.
hero: /img/atmosphere/Prjct06_OOBE_Master_v1-001.png
externalUrl:
date: 2014-11-19
tags:
  - Are.na
layout: layouts/project.njk
---

<div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/112459098" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
<br />


<h2>RESEARCH</h2>
<br />
<p>Radio today has shifted dramatically from what it once was. In the beginning radio was purely meant to be used as a communication tool. From there it evolved into one of the main ways we listened to music and learned about the news as families would gather around to listen. Once radio was replaced by the television, it found a new home in our cars and for a brief time even on our phones. Since then, radio has taken many forms, including apps for public radio stations, billboard chart lists, YouTube shows and Podcasts. Today, radio is in the midst of rebranding its identity. Given the expansion of radio in multiple forms, I wanted to explore what it would mean to (re)personalize the radio while taking it back to its roots of storytelling in a communal setting.</p>
<br />
<h2>LEARNINGS</h2>

<br />
<p>Media - Media should manage itself; you should not be managed by media. Form - The content should be customized for the end user. The Broadcast - The speaker should require so little interaction that it operates independently. The Object - The object should reflect the personality of the individual but not distract from the content.</p>
<br />
<h2>PROTOTYPING</h2>
<br />
<h3>PROTOTYPE 01</h3>
<br />
<p>The first iteration focused on creating a form which was mobile enough that you could take it to a room for a party but large enough that it was not practical to take out of a house. The end shape was too cumbersome to reflect the main control mechanism to rotate the device in order to change broadcasts.</p>
<br />
<h3>PROTOTYPE 02</h3>
<br />
<img src="/img/atmosphere/Prjct06_OOBE_Master_v1-025.png" />
<br />
<p>The second iteration was primarily an exploration of form in which the device could comfortably be rotated with one hand.</p>
<br />
<h3>PROTOTYPE 03</h3>
<br />
<img src="/img/atmosphere/Prjct06_OOBE_Master_v1-029.png" />
<br />
<p>Prototype number 3 was another refinement of the physical volume of the device as well as determining the proper weight and textures to refine the control mechanisms.</p>
<br />
<img src="/img/atmosphere/atmosphere-app.png" />
<br />
<p>A possible interface for joining music and podcasts into a playlist experience a companion app.</p>
<br />
 <p>
<br />
<h2>NEXT STEPS</h2>
<br />
<p>Explore a wider variation of forms.
Complete a deep dive into a second round of research specifically on how people consume audio based media content.
Investigate how communal conversation can be generated around the syncing of the broadcasting of the device among multiple users or by altering the methods of content distribution.</p>

<br />
<h2></h2>CREDITS
For: IXDSN-320-01 | Time Studio 2: Behavior

Project Date: Fall 2014

Project Length: 4 Weeks

Team: Solo Project
