---
title: Playlist
description: A social reading space for saving, sharing, and listening to articles. Currently in beta with a small community
hero: https://media.giphy.com/media/gw3IWyGkC0rsazTi/giphy.gif
externalUrl: https://commons.vercel.app
date: 2021-02-03
tags: [development, design,]
layout: layouts/project.njk
---


<p>In the wake of too many video calls and a lack of in-person conversation, I'm experimenting with a social reading experience. So we can better stay connected and in each other's peripheral vision without digital fatigue.</p>
<br/>
<img src="" alt="" />

<p>Many existing tools aim to allow you to annotate and save content from around the web. Plugins like Hypothesis help researchers collect resources for citations with ease and apps like Pocket allow you to quickly save media to consume at a later point. Both of these types of tools share the space I call <a href="https://www.are.na/gndclouds/space-of-media-aggregators
">Media Aggregators</a>. From my personal use of these tools, I found some functionality to be missing in the space. And Playlist aims to explore how we can reduce the friction of collecting media of various formats into one place, change how we passively share media we are consuming, and better allow us to collect media for later use. Some of the current features I'm working on are:
<br/>
<br/>
<b>Collections</b> supporting multiple media types. The ability to save files, links, podcasts, youtube videos, and more to a collection.
<br/>
<br/>
<b>Inbox</b> lets you share clips or full articles with others.
<br/>
<br/>
<b>Revision History</b> lets us notify you of changes to a saved article.
<br/>
<br/>
<b>Contextual Clips</b> store the entire article even if you highlighted one sentence.</p>
<br/>
<br/>
<p>Playlist is currently being built by just me and tested with friends and family. But I'm more than open to collaborations to help move the project along. Especially if you have experience with mobile web apps or iOS. For now, you can join the beta by following our <a href="https://commons.substack.com/embed">newsletter</a>, follow the development on our <a href="https://futureland.tv/gndclouds/the-commons">futureland</a>, or checkout the <a href="https://kinopio.club/freckle-cloak-Vs-qbUO_bu0u6hLhDtfKw">project roadmap</a>.</p>
