---
title: Impact Hub Ambassadors
description: Offer a space that inspires, connects, and empowers people to realize enterprising ideas for sustainable impact.
hero: /img/impact-hub/impact-hub-hero.jpg
externalUrl: https://vimeo.com/93274239
date: 2014-04-25
tags:
  - Design
  - Community
layout: layouts/project.njk
---
<section>
  <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/93274239" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
  <br />

  <p>Offer a space that inspires, connects, and empowers people to realize enterprising ideas for sustainable impact.</p>

</section>








