---
title: Memory Scarf
description: Enable heirlooms to act as vessels for memories that connect generations.
hero: /img/memory-scarf/IXDSN-350-02_Prjct_03_Final-001.jpg
externalUrl:
date: 2014-04-25
state:
tags:
  - workshop
  - research
  - IxD Undergraduate
layout: layouts/project.njk
---

<h2>RESEARCH</h2>
<br />

<p>Memory is a tricky thing. It is fragile, robust, and meaningful. We often lack appreciation of memories in the moment, only to find them important in the years ahead. These reasons are part of what motivated me to examine how we could use a garment to expand and share our memory. The process for this project was heavily inspired by the relationship that I have with my grandparents who used to live in California where I currently reside. I realized I knew very little about when they lived here and what they did. When I started exploring memory, I immediately recalled a talk that I heard from Wilson Miner from the Build 2011 conference in which he discusses objects being vessels for memory.
</p>
<br />
<p>As I researched the meaning behind objects, curiosity was sparked in the relationship between heirlooms and totems. These are often the names we give to belongings that are more meaningful to us than everyday objects. They are the things that we keep near and the things that help us remember.</p>
<br />
<p>There is a special relationship in how we interact with these objects. Some we keep safely locked away, some we cannot help but hold near, and often they help us to share stories of the past with others.</p>
<br />
<h2>DESIGN PRINCIPLES</h2>
<br />
<p>
<b>Warmth </b>- The final form should convey the feeling of snuggling up with a good book next to a warm fire.
<br /><br />

<b>Safe and Secure</b> - The garment should create a safe-feeling user environment.
<br /><br />

<b>Intimate</b> - The experience should enable a level of intimacy in order to allow the wearer to reflect on personal moments without judgement.
<br /><br />

<b>Handmade</b> - The craft behind the garment should have a story, both to act as a starting point for the keeping of memories but also to showcase the handmade craft that adds character to an object.
<br /><br />

<b>Personal</b> - The garment should act as a totem, something that holds particular meaning to that individual and something that he or she feels can be passed along to other specific individuals, but not just anybody.
</p>
<br />
<h2>PROTOTYPES</h2>
<br />
<img src="/img/memory-scarf/IXDSN-350-02_Prjct_03_Final-015-1.png" />
<br />

<p>One of the first concepts combined audio recording with geo location by embedding them both into a scarf. This scarf could be switched between modes. The modes include a record mode or explore mode.</p>
<br />
<img src="/img/memory-scarf/IXDSN-350-02_Prjct_03_Final-016.png" />
<br />

<p>The second iteration focused on a scarf-hoodie combination in which the same two modes would exist and would be linked to the hood being up and the hood being down. The shift in form was primarily due to trying to amplify the feeling of warmth and intimacy by creating an environment which allowed you to feel semi-isolated anywhere.
</p><br />
<img src="/img/memory-scarf/IXDSN-350-02_Prjct_03_Final-017-1.png" />
<br />
<p>After testing both variations of the muslin prototypes and interviewing individuals on the surrounding eco-systems, I determined that the ability to record based on location did not need to be combined; rather, the functions should be able to work independently of one another. Although the ability to receive information based on a specific location still interests me, my focus shifted to honing the experience between recording and playing back audio. This way the focus can be drawn to the meaning behind the content.</p>
<br />
<h2>NEXT STEPS</h2>
<br />

<p>
Explore possibility for a surrounding ecosystem.
Consider what other forms of technology could be used more subtly and effectively.
</p>
<br />

<p>
Try varying the triggering mechanisms for recording and playing back.
Conduct additional user testing to determine best methods for interacting with content beyond sound.</p>

<h2>CREDITS</h2>

<p>
<br />
For: IXDSN-350-01 | Wearables and Soft Materials
<br />
Project Date: Fall 2014
<br />
Project Length: 2 Months
</p>
