---
title: Router
description:
hero: /img/oh-dot-zero/odz-sink-hero.jpeg
externalUrl: https://web.archive.org/web/20190129225952/http://gndclouds.cc/house/
date: 2018-04-25
state: Active
type: climate
tags:
  -
layout: layouts/project.njk
---
