---
title: Switch
description:
hero: /img/oh-dot-zero/odz-switch.webp
externalUrl:
date: 2018-04-25
state: Active
type: climate
tags:
  -
layout: layouts/project.njk
---

This tiny device helps start your energy-hungry appliances when there is less demand. It works similar to a small timer which you can set to begin a given time or have it watch for when the market energy demand is low.
