---
title: Pico Core
description: This may sound a bit like a micro-grid but thinking even smaller
hero: /img/oh-dot-zero/odz-core-hero.jpeg
externalUrl: https://web.archive.org/web/20190129225952/http://gndclouds.cc/house/
date: 2018-04-25
tags:
  -
layout: layouts/project.njk
---

<p>the pico-core is a project from o.0 (oh dot zero) focused on the long-term dwelling of humans on earth. Phase one is a year long research phase looking at how to decentralize all public utilities. Currently we are working with Utopia, Stone Edge Micro-grid, and Center for Art and Public Life at California College of the Arts to bring this into the world.
</p>
<br/>
<p>What do we mean by "decentralize all public utilities"? Well today if you want water, power, waste, or communication to be available at you home you need to connect to your cities or counties utility grid. We are researching a future in which you can be separated from that grid system. This may sound a bit like a micro-grid but thinking even smaller. Our focus is on what we are calling the pico grid, or a grid that can service all traditional public utility needs of one household. To achieve this we are working to develop a "core" which would maintain and manage all you utilities.</p>
