---
title: Composting Sink
description: Our sink captures, filters, and drys sink waste to be used in your garden or placed into your compost bin
hero: /img/oh-dot-zero/odz-sink-hero.webp
externalUrl:
date: 2018-04-25
state: Active
type: climate
tags:
  -
layout: layouts/project.njk
---

<p>As our cities constant to grow, it becomes harder to manage, upgrade, and replace waste treatment systems. One of the recommended plans we have for helping address this is localizing the capture and reuse of the waste to your home. Our sink captures, filters, and drys sink waste to be used in your garden or placed into your compost bin. The thinking is that we can reduce the growing strain on waste systems by replacing the current garbage disposal with our composing sink.</p>
