---
title: Router
description:
hero: /img/oh-dot-zero/odz-router-hero.jpeg
externalUrl:
date: 2018-04-25
state: Active
type: climate
tags:
  -
layout: layouts/project.njk
---

We use a lot of data each day, and we tend to store it all in servers that live a long way from us. This router will help you protect your data and reduce your footprint by locally hosting your services and allowing you to cache traffic to reduce your over all bandwidth
