---
title: Smart Packaging at PARC
description:
hero: /img/parc/parc-hero.webp
externalUrl: https://www.parc.com/blog/how-smart-packaging-could-revolutionize-retail/
date: 2018-05-01
tags:
  - research
  - hardware
layout: layouts/project.njk
---


