---
title: Postman59603
description: A discord bot for posting, scheduling, and managing your community. Lovingly named after the Postman in Naruto.
hero: /img/postman59603/postman-demo-v0.gif
externalUrl: https://github.com/tiny-factories/postman59603-for-discord
date: 2021-01-01
life: Growing
tags: [experiment, ]
layout: layouts/project.njk
---

<section>
<p> Postman59603 is a service bot named charter of the same name in <a href="https://naruto.fandom.com/wiki/Courier_Ninja">Naruto</a>. The Postman59603 main focus is to interface with an API Server we use at Tiny Factories for our public blogging platform  <a href="https://tiny.garden">Tiny Garden</a>.
</p>
<br  />
<p>
We are scrappy and still flushing out if we want to productize the bot. So currently the <a href="https://glitch.com/~postman59603-for-discord">bot</a> and <a href="https://glitch.com/~tiny-garden-server">API server</a> live on <a href="https://glitch.com">Glitch</a> with the intent of moving them to a dedicated instance as needed.
</p>
<br  />
<img src="/img/postman59603/postman-demo-v0.gif" alt="postman-demo"/>
<br  />
<p>You can aucess the bot by typing <code>/post</code> in Discord. Then you can post to twitter, newsletter, feedback, or Tiny Garden.</p>
<br  />
<h3>Development Notes:</h3>
<br />
<div class="w-100">
  {% set postslist = collections.hardware | head(-3) %}
  {% set postslistCounter = collections.hardware | length %}
  {% include "posts-preview.njk" %}
</div>
<br />
<br />

<h3>Resources:</h3>
<br />
<ul>
  <li>Tiny Garden's is open source and can be found on <a href="">Github</a></li>
  <li><a href="">NextJS</a></li>
</ul>
<br />
</section>
