---
title: Tiny Domains
description: Subscriptions go directly toward supporting freelancers and the planet.
hero: https://images.are.na/eyJidWNrZXQiOiJhcmVuYV9pbWFnZXMiLCJrZXkiOiIxMDk2MDU0MS9vcmlnaW5hbF9hZDBjZWQ5Y2Q1OTJhZWFjMzhiODk5MzU0ZTdiOGE2YS5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjE4MDAsImhlaWdodCI6MTgwMCwiZml0IjoiaW5zaWRlIiwid2l0aG91dEVubGFyZ2VtZW50Ijp0cnVlfSwid2VicCI6eyJxdWFsaXR5Ijo5MH0sInJvdGF0ZSI6bnVsbCwianBlZyI6eyJxdWFsaXR5Ijo5MH19fQ==?bc=0
externalUrl: https://domains.tinyfactories.space
date: 2020-11-09
state: Active
tags:
  - indieprenuer
  - economics
  - decenteralized
layout: layouts/project.njk
---

There is a chance that in 2021 we will see another internet boom based on dome new tools and frameworks from the decenteralized web community. One way Tiny Factoies is participating in the space is by purschaing and hosting domains as a way to fund our research. TinyDomains shows which domains we are selling and how we might use the fund to help us with out work and help the planet.

## project notes

→ [Funding work with TLDs](/notes/funding-work-with-tlds/)

<h2>Related Notes:</h2>
<br />
<div class="w-100">
  {% set postslist = collections.hardware | head(-3) %}
  {% set postslistCounter = collections.hardware | length %}
  {% include "posts-preview.njk" %}
</div>
</section>
