---
title: Tiny Garden
description: A microblog for the Tiny Factories community.
hero: https://d2w9rnfcy7mm78.cloudfront.net/10090121/original_381148e1f1ea511b2f098d2eb6c7da5f.png?1609695573?bc=0
externalUrl: https://tiny.garden
date: 2021-02-01
state: Ongoing
tags:
  -
  -
layout: layouts/project.njk
---

Tiny Factoies has been gorwing at a coushiouse pace and in this process we have wanted to start to build a way to endage with friends, alumni, and collonrators in a better way. Our first experiemnt is TinyGarden. A microblog hosted by TinyFactories for our greeater communty to endage with. 




<h2>logs</h2>
<div class="w-100">
  {% set postslist = collections.hardware | head(-3) %}
  {% set postslistCounter = collections.hardware | length %}
  {% include "posts-preview.njk" %}
</div>
</section>
