---
title: Tiny Factories
description: A tribe of people supporting each other to establish their creative footing
hero: /img/tiny-factories/tiny-factories-hero.png
externalUrl: https://tinyfactories.space
date: 2019-02-01
state: Ongoing
tags:
  -
  -
layout: layouts/project.njk
---

