---
title: Treehouse
description: A social reading space for saving, sharing, and listening to articles. Currently in beta with a small community
hero: "/img/treehouse/treehouse-hero-2x.png"
externalUrl: https://commons.vercel.app
date: 2021-02-03
tags: [development, design,]
layout: layouts/project.njk
---


In the wake of too many video calls and a lack of in-person conversation, we are experimenting with a social reading experience. So we can better stay connected and in each other's peripheral vision without digital fatigue.


