---
title: Treehouse (WIP)
description: A personalized dynamic dashboard for when you open a new browser window or tab.
hero: "/img/treehouse/treehouse-hero-2x.png"
externalUrl:
date: 2021-02-03
tags: [development, design,]
layout: layouts/project.njk
---

<p>There are a lot of great browser add ons for when you open a new tab or window. Many show you some RSS information, weather forecasts, or a nice image. But few of them are very customizable or personal. Treehouse's goal is to be the best of both worlds.
</p>
<br/>
<p>
You will be able to choose from a series of card styles and service integrations like a to-do list, weather, RSS, notes, Twitter, arena, and Unsplash to start. I have the basic backend ready and am working on the design over May 2021.</p>
<br/>
<img src="/img/treehouse/treehouse-cards-anatomy.png" alt="Treehouse App Card Anatomy"/>
<p>This is a rough breakdown I have been referencing for building the logic for the components in react.
</p>
<br/>
<img src="/img/treehouse/treehouse-hero.png" alt="Treehouse App Profile"/>
<p>The current design is a little overly simple, so the next version will focus more on how to customize the style of your dashboard.<p/>
