---
title: 🌻 Climate Research
description: The beginning of my shift towards climate focused work.
layout: layouts/base.njk
permalink: /climate/
---

<section class="fl w-100 pa3 ph4-m ph6-l" style="margin-top: 20vh;">
  <h1>{{title}}</h1>
  <p>{{description}}</p>

  {% set postslist = collections.climate %}
  {% set postslistCounter = collections.climate | length %}
  {% include "posts-preview.njk" %}
</section>
