---
title: 👾 Dev Notes
description: A home for the doodles and snips of things I code.
layout: layouts/base.njk
permalink: /dev/
---

<section class="fl w-100 pa3 ph4-m ph6-l" style="margin-top: 20vh;">
  <h1>{{title}}</h1>
  <p>{{description}}</p>

  {% set postslist = collections.dev %}
  {% set postslistCounter = collections.dev | length %}
  {% include "dev-list.njk" %}
</section>

