---
title: 🕹 Ambient Hardware
description:
layout: layouts/base.njk
permalink: /hardware/
---

<section class="fl w-100 pa3 ph4-m ph6-l" style="margin-top: 20vh;">
  <h1>{{page.title}}</h1>
  <p>My curiousocity spans a lot of topics which I ocaassionally write about. Here I blog about things on my mind and try to focus on some of these mental threads such as, Resilience, Field Notes, Experiments,  and Guides.</p>

  {% set postslist = collections.posts %}
  {% set postslistCounter = collections.posts | length %}
  {% include "posts-preview.njk" %}
</section>
