---
layout: layouts/base.njk
---
<script>
  function define_indie() {
    var span = document.getElementById("indiepreneuring");
    span.innerText = "In·die·​pre·​neur·ing";
  }

  function define_hello() {
    var span = document.getElementById("hello");
    span.innerText = "☁️ Hey, Hi, Hello!";
  }

  function define_friends() {
    var span = document.getElementById("a-few-friends");
    span.innerText = "Weiwei, Tomo, ";
  }
</script>


<section class="fl w-100 pa3 ph4-m ph6-l">
  <!-- <h2><span class="section-icon ph1 ph3-ns">☁️</span></<h2>
    <br />
    <br /> -->
    <h2 class="ph1 ph3-ns"><span id="hello" onclick="define_hello()">☁️ Heya, </h2>
    <br />
    <p class="ph1 ph3-ns">I co-founded <a href="https://tinyfactories.space">Tiny Factories</a>, a studio, and community which helps establish individuals' creative footings. In my spare time, I read climate research with a focus on better urban planning and biodegradable waste systems. My past roles have been a mix of research, design, and software engineering at research labs within IDEO, PARC, Intel, Fjord, and Protocol Labs.
    </p>
</section>
<section class="fl w-100 pa3 ph4-m ph6-l" style="margin-top: 10vh;">
  <!-- <h2><span class="section-icon ph1 ph3-ns">🌱</span></<h2>
    <br />
    <br /> -->
    <h2 class="ph1 ph3-ns">🌱 Things and Experiments</h2>
    <br />
    <p class="ph1 ph3-ns" style="margin-bottom: 3vh;">Recent work has focused on <a><button>indie-web</button></a> tools along side Tiny Factories clients, and research with oh dot zero. I thrive as generalist by think of myself as a specialist in specific domains.
    </p>

    <div class="ph1 ph3-ns">
      <p class="dib v-mid ">Filter:</p>
      <div class="tab dib v-mid ">
        <button class="tablinks ml2 mv1" onclick="openCity(event, 'Recent' )" id="defaultOpen">Recent</button>
        <button class="tablinks ml2 mv1" onclick="openCity(event, 'Research')">Research</button>
        <button class="tablinks ml2 mv1" onclick="openCity(event, 'Design')">Design</button>
        <button class="tablinks ml2 mv1" onclick="openCity(event, 'Development')">Development</button>
        <button class="tablinks ml2 mv1" onclick="openCity(event, 'Experiments')">Experiments</button>
      </div>
      <div id="Recent" class="tabcontent">
        {% set postslist = collections.projects | head(-4) %}
        {% set postslistCounter = collections.projects | length %}
        {% include "projects-preview.njk" %}
      </div>
      <div id="Research" class="tabcontent">
        {% for projects in postslist | reverse %}

        {% set postslist = collections.projects | head(-4) %}
        {% set postslistCounter = collections.projects | length %}
        {% if projects.tag == "arena" %}

        {% include "projects-preview.njk" %}
        {% endif %}

        {% endfor %}

      </div>
      <div id="Research" class="tabcontent">
        {% for projects in postslist | reverse %}

        {% set postslist = collections.projects | head(-4) %}
        {% set postslistCounter = collections.projects | length %}
        {% if projects.data.type == "research" %}

        {% include "projects-preview.njk" %}
        {% endif %}

        {% endfor %}

      </div>
      <div id="Development" class="tabcontent">
        {% for projects in postslist | reverse %}

        {% set postslist = collections.projects | head(-4) %}
        {% set postslistCounter = collections.projects | length %}
        {% if projects.data.type == "developer" %}

        {% include "projects-preview.njk" %}
        {% endif %}


        {% endfor %}

      </div>

    </div>
</section>


<section class="fl w-100 pa3 ph4-m ph6-l" style="margin-top: 10vh;">
  <!-- <h2><span class="section-icon ph1 ph3-ns">🔬</span></<h2>
    <br />
    <br /> -->
    <h2 class="ph1 ph3-ns">🔬 Thought Spaces</h2>
    <br />
    <p class="ph1 ph3-ns" style="margin-bottom: 3vh;">Notes are a way for me to think in public about what I'm learning and new areas of interest. All spaces feed into my <a href="/notes/">blog</a> or are summarized in my <a href="https://gndclouds.substack.com/embed">newsletter</a> Some of my current mental threads are: </p>
    <div class="ph1 ph3-ns">
      <p class="dib v-mid ">Spaces:</p>
      <div class="tab dib v-mid ">
        <button class="tablinks ml2" onclick="openCity(event, 'Recent' )" id="defaultOpen">All</button>
        <button class="tablinks ml2" onclick="openCity(event, 'Logs')">Learning Logs</button>
        <button class="tablinks ml2" onclick="openCity(event, 'Notes')">Notes</button>

      </div>
      <div id="Recent" class="tabcontent">
        {% set postslist = collections.projects | head(-4) %}
        {% set postslistCounter = collections.projects | length %}
        {% include "projects-preview.njk" %}
      </div>
      <div id="Logs" class="tabcontent">
        {% for projects in postslist | reverse %}

        {% set postslist = collections.projects | head(-4) %}
        {% set postslistCounter = collections.projects | length %}
        {% if projects.data.type == "design" %}

        {% include "projects-preview.njk" %}
        {% endif %}

        {% endfor %}

      </div>
      <div id="Notes" class="tabcontent">
        {% for projects in postslist | reverse %}

        {% set postslist = collections.projects | head(-4) %}
        {% set postslistCounter = collections.projects | length %}
        {% if projects.data.type == "research" %}

        {% include "projects-preview.njk" %}
        {% endif %}

        {% endfor %}

      </div>


    </div>

    <div class="">
      <div class="fl w-100 w-50-m w-thirds-l w-third-ns pa1 pa3-ns">
        <a class=" fl w-100 " href="/logs/">Most Recent:</a>
        <!-- {% set postslist = collections.posts | head(-3) %}
        {% for post in postslist | reverse %}
        {% include "posts-preview.njk" %}
        {% endfor %} -->
      </div>

      <div class="fl w-100 w-50-m w-thirds-l w-third-ns pa1 pa3-ns">
        <a class=" fl w-100 " href="/dev/">Climate Research:</a>
        {% set postslist = collections.posts  | head(-3) %}
        {% for post in postslist | reverse %}
        {% if post.data.type === "Climate" %}
        {% include "post-preview.njk" %}
        {% else %}
        {% endif %}
        {% endfor %}

      </div>

      <div class="fl w-100 w-50-m w-thirds-l w-third-ns pa1 pa3-ns">
        <a class="fl w-100 " href="/logs/">Learning Logs</a>
        {% set postslist = collections.posts  | head(-3) %}
        {% for post in postslist | reverse %}
        {% if post.data.type === "Logs" %}
        {% include "post-preview.njk" %}
        {% else %}
        {% endif %}
        {% endfor %}
      </div>

      <div class="fl w-100 w-50-m w-thirds-l w-third-ns pa1 pa3-ns">
        <a class="fl w-100 " href="/hardware/">Tiny Factories Notes</a>
        {% set postslist = collections.posts  | head(-3) %}
        {% for post in postslist | reverse %}
        {% if post.data.type === "Tiny Factories" %}
        {% include "post-preview.njk" %}
        {% else %}
        {% endif %}
        {% endfor %}
      </div>

      <div class="fl w-100 w-50-m w-thirds-l w-third-ns pa1 pa3-ns">
        <a class=" fl w-100 " href="/experiments/">Field Notes</a>
        {% set postslist = collections.posts  | head(-3) %}
        {% for post in postslist | reverse %}
        {% if post.data.type === "Field Notes" %}
        {% include "post-preview.njk" %}
        {% else %}
        {% endif %}
        {% endfor %}
      </div>

      <div class="fl w-100 w-50-m w-thirds-l w-third-ns pa1 pa3-ns">
        <a class=" fl w-100 " href="/notes/">🗂 Everything Else</a>
        {% set postslist = collections.posts  | head(-3) %}
        {% for post in postslist | reverse %}
        {% if post.data.type === "hardware" %}
        {% include "post-preview.njk" %}
        {% else %}
        {% endif %}
        {% endfor %}
      </div>
    </div>
</section>



<section class="fl w-100 pa3 ph4-m ph6-l" style="margin-top: 10vh; margin-bottom: 10vh;">
  <!-- <h2><span class="section-icon ph1 ph3-ns">🔗</span></<h2>
    <br />
    <br /> -->
    <h2 class="ph1 ph3-ns">🔗 Across the Internet</h2>
    <br />
    <p class="ph1 ph3-ns" style="margin-bottom: 3vh">I explore a lot of tools, projects, and serviecs which can make it hard to put a record of my work in one place. I maintain a daily feed of my digital footprint and below you can find a few places I like to dwell.</p>

    <div>
      <div class="fl w-100 w-50-m w-thirds-l w-third-ns pa1 pa3-ns">
        <p>🌐</p>
        <a class="fl w-100" href="https://tiny.garden/user/MQc2aPSY0763">My Garden</a>
        <a class="fl w-100" href="https://multiverse.plus/gndclouds">Multiverse</a>
        <a class="fl w-100" href="https://beta.readng.co/user/gndclouds">Books I'm Reading</a>

      </div>
      <div class="fl w-100 w-50-m w-thirds-l w-third-ns pa1 pa3-ns">
        <p>🌎</p>
        <a class="fl w-100" href="https://beta.readng.co/user/gndclouds">Books I'm Reading</a>
        <a class="fl w-100" href="https://beta.readng.co/user/gndclouds">Questions</a>
        <a class="fl w-100" href="https://beta.readng.co/user/gndclouds">Questions</a>

      </div>
      <div class="fl w-100 w-50-m w-thirds-l w-third-ns pa1 pa3-ns">
        <p>Site</p>
        <a class="fl w-100" href="https://beta.readng.co/user/gndclouds">Questions</a>
<a class="fl w-100" href="https://beta.readng.co/user/gndclouds">playlists</a>
<a class="fl w-100" href="https://beta.readng.co/user/gndclouds">Questions</a>
<a class="fl w-100" href="https://beta.readng.co/user/gndclouds">Questions</a>
      </div>
      <div class="fl w-100 w-50-m w-thirds-l w-third-ns pa1 pa3-ns">
        <p>Follow</p>
        <a class="fl w-100" href="https://beta.readng.co/user/gndclouds">Questions</a>
<a class="fl w-100" href="https://beta.readng.co/user/gndclouds">Twitter</a>
<a class="fl w-100" href="https://beta.readng.co/user/gndclouds">RSS</a>
<a class="fl w-100" href="https://beta.readng.co/user/gndclouds">Futureland</a>
      </div>
    </div>



</section>
