---
layout: layouts/base.njk
---
<section class="fl w-100 pa3 ph4-m ph6-l">
<h3><span class="section-icon ph1 ph3-ns">☁️</span></<h3>
<br /> <br />
<h3 class="ph1 ph3-ns"><span id="indiepreneuring" onclick="define_indie()">Heya, </h3>
 <br/>
 <p class="ph1 ph3-ns" style="margin-bottom: 3vh;">I'm building tools for the indie-web at <a href="https://tinyfactories.space">Tiny Factories</a> while working on strategies for climate mitigation. My past roles have been a mix of Research, Design, and Development at research labs within IDEO, PARC, Intel, Fjord, and Protocol Labs.</p>
</section>
<section class="fl w-100 pa3 ph4-m ph6-l" style="margin-top: 10vh;">
  <h3><span class="section-icon ph1 ph3-ns">🌱</span></<h3>
  <br /> <br />
   <h3 class="ph1 ph3-ns"><span id="indiepreneuring" onclick="define_indie()">Indiepreneuring</span> at <a href="https://tinyfactories.space">Tiny Factories</a></h3>
   <br/>
   <p class="ph1 ph3-ns" style="margin-bottom: 3vh;">The atmosphere of a studio is often hard to find after graduation. So <span id="a-few-friends" onclick = "define_friends()">a few friends</span> and I co-founded a community of Indiepreneurs to help keep a studio experience alive. Recent work is shown below with older work on the <a href="/projects/">project page</a>.
  </p>

<script>

function define_indie() {
  var span = document.getElementById("indiepreneuring");
    span.innerText = "In·die·​pre·​neur·ing";
}
  function define_friends() {
    var span = document.getElementById("a-few-friends");
      span.innerText = "Weiwei, Tomo, ";
  }
</script>
  {% set postslist = collections.projects | head(-4) %}
  {% set postslistCounter = collections.projects | length %}
  {% include "projects-preview.njk" %}
  <!-- <div class="ph1 ph3-ns">
 <div class="dib v-mid "><p>Filter:</p></div>
  <div class="tab dib v-mid ">
    <button class="tablinks ml2" onclick="openCity(event, 'Recent' )" id="defaultOpen">Recent</button>
    <button class="tablinks ml2" onclick="openCity(event, 'Favorites')">Favorites</button>
  </div>-->
  <div id="Recent" class="tabcontent">
    {% set postslist = collections.projects | head(-6) %}
    {% set postslistCounter = collections.projects | length %}
    {% include "projects-preview.njk" %}
  </div>
  <div id="Favorites" class="tabcontent">
   {% for projects in postslist | reverse %}

    {% set postslist = collections.projects | head(-6) %}
    {% set postslistCounter = collections.projects | length %}
    {% if projects.data.flag == "highlight" %}

    {% include "projects-preview.njk" %}
   {% endif %}


   {% endfor %}

  </div>

  </div>
</section>


<section class="fl w-100 pa3 ph4-m ph6-l" style="margin-top: 10vh;">
 <span class="icons ph1 ph3-ns" >🔬</span>
 <br/>
 <br/>
 <h3 class="ph1 ph3-ns">Spaces of thought</h3>
 <br/>
 <p class="ph1 ph3-ns" style="margin-bottom: 3vh;">Notes are a way for me to think in public about what I'm learning and new areas of interest. All spaces feed into my <a href="/notes/">blog</a> or are summarized in my <a href="https://gndclouds.substack.com/embed">newsletter</a> Some of my current mental threads are: </p>

 <div class="">
  <div class="fl w-100 w-50-m w-thirds-l w-third-ns pa1 pa3-ns">
    <a class=" fl w-100 " href="/logs/">📮 Learning Logs</a>
  </div>

  <div class="fl w-100 w-50-m w-thirds-l w-third-ns pa1 pa3-ns">
   <a class=" fl w-100 " href="/dev/">👾 Dev Notes</a>
  </div>

  <div class="fl w-100 w-50-m w-thirds-l w-third-ns pa1 pa3-ns">
    <a class="fl w-100 " href="/climate/">🌻 Climate Research</a>
  </div>

  <div class="fl w-100 w-50-m w-thirds-l w-third-ns pa1 pa3-ns">
    <a class="fl w-100 " href="/hardware/">🕹 Ambient Hardware</a>
  </div>

  <div class="fl w-100 w-50-m w-thirds-l w-third-ns pa1 pa3-ns">
  <a class=" fl w-100 " href="/experiments/">⚗️ Experiments</a>
  </div>

  <div class="fl w-100 w-50-m w-thirds-l w-third-ns pa1 pa3-ns">
    <a class=" fl w-100 " href="/notes/">🗂 Everything Else</a>
    </div>
 </div>
</section>

{#
<section class="fl w-100 pa3 ph4-m ph6-l" style="margin-top: 10vh;">
 <span class="icons ph1 ph3-ns">📚</span>
 <br  />
 <br  />
 <h3 class="ph1 ph3-ns">A Collection of things from my friend</h3>
 <br  />
 <p class="ph1 ph3-ns">I tend to flip between a few books at a time and am working towards reading 24 books a year. You can find more things I have been reading here.</p>
</section>
#}

<section class="fl w-100 pa3 ph4-m ph6-l" style="margin-top: 10vh; margin-bottom: 10vh;">
 <span class="icons ph1 ph3-ns">🔗</span>
 <br  />
 <br  />
 <h3 class="ph1 ph3-ns">Across the Internet</h3>
 <br  />
 <p class="ph1 ph3-ns" style="margin-bottom: 3vh">I'm working on connecting more projects and platforms to this site but not everything is connected yet. So here are some other places I exist on the internet.</p>


<div class="">
  <div class="fl w-100 w-50-m w-thirds-l w-third-ns pa1 pa3-ns">
    <a class="fl w-100" href="https://tiny.garden/user/MQc2aPSY0763">My Garden</a>
  </div>
<div class="">
  <div class="fl w-100 w-50-m w-thirds-l w-third-ns pa1 pa3-ns">
    <a class="fl w-100" href="https://multiverse.plus/gndclouds">Multiverse</a>
  </div>
<div class="">
  <div class="fl w-100 w-50-m w-thirds-l w-third-ns pa1 pa3-ns">
    <a class="fl w-100" href="https://beta.readng.co/user/gndclouds">Books I'm Reading</a>
  </div>
  <div class="">
    <div class="fl w-100 w-50-m w-thirds-l w-third-ns pa1 pa3-ns">
      <a class="fl w-100" href="https://dev.to/gndclouds">Dev.to</a>
    </div>

</section>


