---
layout: layouts/base.njk
---

<section class="center w-100 pa3 ph4-m ph6-l" style="margin-top: 20vh;">
  <h3>
    🌱 Indiepreneuring at <a href="https://tinyfactories.space">Tiny Factories</a>
  </h3>
  <p class="">The atmosphere of a studio if often hard to find after graduation. So a few friends and I co-founded a community of coders, artists, designers, videographers, writers (and more). Here we build, collaborate, and ship projects.</p>
  <h4>Recent and In progress work:</h4>
  
    {% set postslist = collections.posts | limit:3 %}
    {% include "loglist.njk" %}
  
</section>

<section class="center w-100 pa3 ph4-m ph6-l" style="margin-top: 20vh;">
    <h3>
    📚 Reading <a href="https://www.plethora-project.com/architecture-for-the-commons"><i>Architecture for the Commons</i></a> and <a href="https://en.wikipedia.org/wiki/Ball_Lightning_(novel)"><i>Ball Lighting</i></a>
  </h3>
  <p>I tend to flip between a few books at a time and am working towards reading 24 books a year. You can find more things I have been reading <a>here</a>.</p>
  <h4>Recent and In progress work:</h4>
  
    
  {% for article in reading | reverse %}
    <div>
    <h1 class="f4 bg-near-black white mv0 pv2 ph3">{{ article.title}}</h1>
    <a href="../reading/{{ article.title | slug}}/">
      
      </a>
    </div>
  {% endfor %}


</section>

<!--<section class="center w-100 pa3 pa4-m pa6-l pb3">
  <div class="fl w-100">
  <h2>Spaces of Thought:<h2>
   <p>I'm a curious person and tend to go deep on topics of interest. Here I blog about things on my mind and try to focus on some of these mental threads.</p>
  </div>
  <div class="fl w-100">

   <div class="fl w-100 w-50-ns pa3">
    <h3><a href="/tags/resilience/">🌻 Climate Landscape</a></h3>
    <p>Research on urban systems, architecture, and infrastructures resiliency to the climate crisis.</p>
   </div>

   <div class="fl w-100 w-50-ns pa3">
    <h3><a href="/tags/experiments/">⚗️ Experiments</a></h3>
    <p>Half baked ideas need a home, and they tend reside here. Occasionally I come back to them and they spark a new project.</p>
   </div>

   <div class="fl w-100 w-50-ns pa3">
    <h3><a href="/tags/hardware/">🕹  Ambient Hardware</a></h3>
    <p>Small hardware provocations focused on ambient communication and connections.</p>
</div>

   <div class="fl w-100 w-50-ns pa3 pb6">
   <h3><a href="/tags/logs/">📮 Learning Logs</a></h3>
   <p>Observations and notes around projects I’m actively pursuing. </p>
  </div>

   </div>
</section>-->

<!-- <section class="center w-100 pa3 pa4-m pa6-l pb3">
  <div class="fl w-100">
  <h3>Notes from this week:<h3>

    {% set postslist = collections.posts %}
    {% include "loglist.njk" %}

</section> -->


