---
layout: layouts/base.njk
permalink: /logs/
eleventyNavigation:
  key: Logs
  order: 2
---

<h1>Logs</h1>
<p>A stream of conshinsess, of stors, from my Tiny Factoreis blog.</p>

{% set postslist = collections.logs %}
{% include "loglist.njk" %}
