---
title: Playlists
description: Specific collections of knowledge that I’m interested in advancing through my work and collaborations. The form consists of a series of articles, books, podcasts, and other media which help onboard you to a given topic.
layout: layouts/base.njk
permalink: /playlists/
eleventyNavigation:
  key: playlists
  order: 2
---


<section class="fl w-100 pa3" style="margin-top: 10vh;">
<h1>{{title}}</h1>

  <p>{{description}}</p>
<p>
The notion of a knowledge playlist was first introduced to me by <a href=“https://tealprocess.net“>teal processing & company</a>.
</p>
<br>
<div class="cf">
  {% for playlist in playlists | reverse %}
    <div class="fl w-100 black mv3 ba">
    <div></div>
      <h3 class=" mv0 pv2">{{ playlist.title}}</h3>
      <p>{{ playlist.description}}</p>
      <a href="../playlists/{{ playlist.title | slug}}/">
        </a>
    </div>
  {% endfor %}
</div>


</section>
