---
layout: layouts/base.njk
permalink: /posts/
eleventyNavigation:
  key: posts
  order: 2
---
<section class="fl w-100 pa3 ph4-m ph6-l" style="margin-top: 20vh;">

  <h1>Space for thougths</h1>
  <p>My curiousocity spans a lot of topics which I ocaassionally write about. Here I blog about things on my mind and try to focus on some of these mental threads such as, Resilience, Field Notes, Experiments,  and Guides.</p>

  <h3 class="fl w-100">Current Mental Threads:</h3>
  <p>
<a href="/tags/resilience/">[🌻 Climate Landscape]</a>
<a href="/tags/experiments/">⚗️ Experiments</a>
<a href="/tags/hardware/">🕹  Ambient Hardware</a>
<a href="garden.tinydatories.space/gndclouds">📮 Learning Logs</a>
<a href="garden.tinydatories.space/gndclouds">📮 Learning Logs</a>
<a href="garden.tinydatories.space/gndclouds">📮 Learning Logs</a>
<a href="garden.tinydatories.space/gndclouds">📮 Learning Logs</a>
<a href="garden.tinydatories.space/gndclouds">📮 Learning Logs</a>
  </p>

  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</section>
