---
title: Notes
description: Spaces of thought
layout: layouts/base.njk
permalink: /notes/
eleventyNavigation:
  key: notes
  order: 2
---
<section class="fl w-100 pa3 ph4-m ph6-l" style="margin-top: 10vh;">

  <h1>{{title}}</h1>
  <p>Notes are a way for me to think in public about what I'm learning and new areas of interest. Some of my current mental threads are keeping <a href="/logs/">[📮 Learning Logs]</a>, <a href="/dev/">[Dev Notes]</a>, <a href="/climate/">[🌻 Climate Research]</a>, and some <a href="/experiments/">[⚗️ Experiments]</a>.</p>

  {% set postslist = collections.posts %}
  {% include "notes-list.njk" %}
</section>
