---
layout: layouts/base.njk
permalink: /posts/
eleventyNavigation:
  key: posts
  order: 2
---
<section class="fl w-100 pa3 ph4-m ph6-l" style="margin-top: 20vh;">

  <h1>Note</h1>
  <p>I'm a curious person and tend to go deep on topics of interest. Here I blog about things on my mind and try to focus on some of these mental threads such as, Resilience, Field Notes, Experiments,  and Guides.</p>

  <section class="center w-100 pa3 pa4-m pa6-l pb3">
  <div class="fl w-100">
  <h2>Spaces of Thought:<h2>
   <p>I'm a curious person and tend to go deep on topics of interest. Here I blog about things on my mind and try to focus on some of these mental threads.</p>
  </div>
  <div class="fl w-100">

   <div class="fl w-100 w-50-ns pa3">
    <h3><a href="/tags/resilience/">🌻 Climate Landscape</a></h3>
    <p>Research on urban systems, architecture, and infrastructures resiliency to the climate crisis.</p>
   </div>

   <div class="fl w-100 w-50-ns pa3">
    <h3><a href="/tags/experiments/">⚗️ Experiments</a></h3>
    <p>Half baked ideas need a home, and they tend reside here. Occasionally I come back to them and they spark a new project.</p>
   </div>

   <div class="fl w-100 w-50-ns pa3">
    <h3><a href="/tags/hardware/">🕹  Ambient Hardware</a></h3>
    <p>Small hardware provocations focused on ambient communication and connections.</p>
</div>

   <div class="fl w-100 w-50-ns pa3 pb6">
   <h3><a href="/tags/logs/">📮 Learning Logs</a></h3>
   <p>Observations and notes around projects I’m actively pursuing. </p>
  </div>

   </div>
</section>



  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</section>
