---
title: Things
description: Things I have made
layout: layouts/base.njk
permalink: /things/
---

<section class="fl w-100 pa3" style="margin-top: 10vh;">
  <h1>{{title}}</h1>
  <br />
  <p>Recent work has focused on building small tools for the indie web through Tiny Factories and climate research projects with oh dot zero. I have chosen to grow generalist skills across research, design, and development while becoming a specialist in specific topics.</p>
  <br />
  <div class="filter-toolbar">
    <p class="dib v-mid ml2 mv1">Filters:</p>
    <div class="tab dib v-mid ">
      <button class="tablinks ml2 mv1" onclick="openCity(event, 'All')" id="defaultOpen">All</button>
      <button class="tablinks ml2 mv1" onclick="openCity(event, 'Design')">Design</button>
      <button class="tablinks ml2 mv1" onclick="openCity(event, 'Research')">Research</button>
      <button class="tablinks ml2 mv1" onclick="openCity(event, 'Development')">Development</button>
      <button class="tablinks ml2 mv1" onclick="openCity(event, 'Experiments')">Experiments</button>
      <button class="tablinks ml2 mv1" onclick="openCity(event, 'Indieweb')">Indieweb</button>
      <button class="tablinks ml2 mv1" onclick="openCity(event, 'Hardware')">Hardware</button>
    </div>
  </div>

  <div id="All" class="tabcontent">
    <br />
    <p><b>All</b> projects are a mix of research, design, and development.
    </p>
    <br />
    {% set projectslist = collections.projects %}
    {% for project in projectslist | reverse %}
    {% include "projects-list.njk" %}
    {% endfor %}
  </div>
  <div id="Design" class="tabcontent">
    <br />
    {% set projectslist = collections.design %}
    {% for project in projectslist | reverse %}
    {% include "projects-list.njk" %}
    {% endfor %}
  </div>

  <div id="Research" class="tabcontent">
    <br />
    {% set projectslist = collections.research %}
    {% for project in projectslist | reverse %}
    {% include "projects-list.njk" %}
    {% endfor %}
  </div>

  <div id="Development" class="tabcontent">
    <br />
    {% set projectslist = collections.development %}
    {% for project in projectslist | reverse %}
    {% include "projects-list.njk" %}
    {% endfor %}
  </div>

  <div id="Experiments" class="tabcontent">
    <br />
    {% set projectslist = collections.experiments %}
    {% for project in projectslist | reverse %}
    {% include "projects-list.njk" %}
    {% endfor %}
  </div>

  <div id="Indieweb" class="tabcontent">
    <br />
    {% set postslist = collections.indieweb %}
    {% for project in postslist | reverse %}
    {% include "projects-list.njk" %}
    {% endfor %}
  </div>

  <div id="hardware" class="tabcontent">
    <br />
    {% set postslist = collections.projects %}
    {% for project in postslist | reverse %}
    {% include "projects-list.njk" %}
    {% endfor %}
  </div>
</section>
