---
title: Unsubscribe
description: I hope or paths may cross again. In the meantime enjoy the internet.
layout: layouts/base.njk
permalink: /Unsubscribe/
---

<section class="fl w-100 pa3" style="margin-top: 20vh;">
  <h1>{{title}}</h1>
  <p>{{description}}</p>


</section>
