---
title: clips
description:
layout: layouts/base.njk
permalink: /clips/
eleventyNavigation:
  key: Clips
  order: 2
---

<h1>Clips</h1>

{% set postslist = collections.clips %}
{% include "clipsgallery.njk" %}
