---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---


 <div class="center w-100 pa3 pa4-m pa6-l">
 <iframe title="Nomadlist Profile" width="560" height="315" style="background:#f9f9f9;" src="https://nomadlist.com/@gndclouds/embed" scrolling="no" frameborder="0" allowfullscreen></iframe>
 </div>

