<article class="fl w-100">
  {% if post.data.externalURL != null %}
  <a class="db pv4  ph0-l no-underline black dim" href="{{ post.data.externalURL | url }}">
    <div class="fl w-100">
      <h3 class="fl dib v-mid">{{post.data.title }} ↗</h3>    <p class="fr dib v-mid gray">{{post.date | displayDateYearMonthDay }}</p>
    </div>

    {% else %}
    <a class="db pv4  ph0-l no-underline black dim" href="{{ post.url | url }}">
      <div class="fl w-100">
      <h3 class="fl dib v-mid">{{post.data.title }}</h3>    <p class="fr dib v-mid gray">{{post.date | displayDateYearMonthDay }}</p>
      </div>
      {% endif %}
      <p class="preview-text">{{post.data.my_custom_excerpt | md | safe }}</p>
      <br />
    </a>

</article>
