<article class="fl w-100">
{% if post.data.externalURL != null %}
<a class="db pv4  ph0-l no-underline black dim" href="{{ post.data.externalURL | url }}">

 <h3 class="w-100">{{post.data.title }} ↗</h3>
 <br />
 <p class="w-100">{{post.date | displayDateYearMonthDay }}</p>
</a>
{% else %}
<a class="db pv4  ph0-l no-underline black dim" href="{{ post.url | url }}">
 <h3 class="w-100">{{post.data.title }}</h3>
 <br />
 <p class="w-100">{{post.date | displayDateYearMonthDay }}</p>
</a>
{% endif %}


</article>
