{% for post in postslist | reverse %}
<article class="fl w-100 w-50-m w-third-ns pa2-ns">
  <a class="db pv4 ph3 ph0-l no-underline black dim" href="{{ post.url | url }}">
        <img class="w-100" src="http://mrmrs.github.io/photos/cpu.jpg" alt="">
        <h3 class="w-100">{{post.data.title }}</h3>
  </a>
</article>
{% endfor %}
