{% for project in postslist | reverse %}
<article class="fl w-100 w-third-ns pa2-ns ">
  <a class="db no-underline black dim ba br3 b--green" href="{{ project.url | url }}"}>
  <div class="w-100 bb">
    <p class="dib tl">{{project.data.title }}</p>
    <p class="dib tr gray">{{project.data.state }}</p>
  </div>
  <img class="cover" src="{{project.data.hero }}" alt="Hero image for {{project.title}} project"/>
  </a>
</article>

{% endfor %}
