{% for project in postslist | reverse %}
   <article class="fl w-100 w-50-m w-third-l w-third-ns pa1 pa3-ns">

    <div class="project-preview-card">

        <img class="fl w-100" href="{{ project.url | url }}" style="height:180px; background-image:url({{project.data.hero }}); background-position: center; background-repeat: no-repeat; background-size: cover; "/>

      <div class="fl w-100 pa3">
        <h3>{{project.data.title }}</h3>
        <p>{{project.data.description }}</p>
      </div>

      <div class="">
        <a href="{{ project.url | url }}" class="fl w-80">
        <button class="fl w-100 pv2 left">Read more</button></a>
        <a href="{{ project.data.externalUrl }}" class="fr w-20">
        <button class="fl w-100 pv2 right">Try ↗</button></a>
      </div>

    </div>

  </article>
{% endfor %}
