{% for project in postslist | reverse %}

   <article class="fl w-100 w-third-ns pa1 pa3-ns">
    <div class="">
      <div class="  w-100" style="background-color: var(--background)">
        <img class="db no-underline black" href="{{ project.url | url }}" style="height:180px; background-image:url({{project.data.hero }}); background-position: center; background-repeat: no-repeat; background-size: cover; "/>
      </div>

      <div class="fr ph3 pv1">
        <h3>{{project.data.title }}</h3>
        <p>{{project.data.description }}</p>
      </div>

      <div class="ph3 pv1">
        <a href="{{ project.url | url }}" class="fl w-50">
        <button class="ph3 pv1">About</button></a>
        <a href="{{ project.data.externalUrl }}" class="fr w-50">
        <button class="ph3 pv1">Try ↗</button></a>
      </div>
    </div>
  </article>
{% endfor %}
