{% for project in postslist | reverse %}
 <article class="fl w-100 w-50-m w-third-l w-third-ns pa1 pa3-ns">
  <div class="">

    <div class="fr ph3 pv1">
      <h3>{{project.data.title }}</h3>
      <p>{{project.data.description }}</p>
    </div>
  </div>
</article>
{% endfor %}
