<article class="">
   <div class="db pv4 ph3 ph0-l no-underline black">
     <div class="flex flex-column flex-row-ns">

       <div class="db v-mid pr3-ns mb4 mb0-ns w-100 w-40-ns">
         <img src="{{project.data.hero }}" alt=" terminal.">
       </div>

       <div class="db v-mid w-100 w-60-ns pl3-ns">
         <a href="{{ project.data.externalUrl }}" class="">
         <h2>{{project.data.title }} ↗</h2>
         </a>
         <p class="">
          {{project.data.description }}
         </p>
         <p>{{project.date | displayDateYear }}</p>


       </div>

     </div>
   </div>
 </article>
