{% for project in postslist | reverse %}
 <article class="fl w-100 w-50-m w-50-l w-50-ns pa1 pa3-ns">

  <div class="">

      <img class="fl w-100" href="{{ project.url | url }}"  src="{{project.data.hero }}" alt="{{ project.title }} hero image"/>

    <div class="fl w-100 pv3">
      <h3>{{project.data.title }}</h3>
      <p>{{project.data.description }}</p>
    </div>
  </div>

</article>
{% endfor %}
