
  {% for film in films %}
   <br>
    <div>
    <a href= "{{ film.personal_link }}" target="blank">
      <h2 class="f4 bg-near-black white mv0 pv2 ph3" style="margin-bottom: 15px">{{ film.name}}</h2>
    </a>

      <img class="tf_images" src="{{ film.profile_pic }}" style="margin-top: 20px" alt="{{ film.title }} book cover">

        <br>


      <p class="separater_line"></p>

    </div>
  {% endfor %}


