  <div class="flex w-100">
      <form class="center pa4 br2-ns ba ">
        <p>Want to learn more about what I'm working on? Get daily updates on <a href="https://twitter.com/gndclouds">Twitter</a>, weekly updates over <a href="https://gndclouds.cc/feed/feed.xml">RSS</a>, and monthly updates from my <a href="https://gndclouds.substack.com/embed">newsletter</a>.</p>
      </form>
  </div>
