  <div style="margin-top: 20vh;" class="flex w-100 pa3">
    <div class="pa4-l">
      <form class="center pa4 br2-ns ba ">
        <p>Get: daily updates on <a>twitter</a>, weekly updates over <a>RSS</a> and monthly <a>newsletter</a>.</p>
      </form>
    </div>

  </div>
