  <footer aria-hidden="true" class="dt w-100 pa3">
  <div class="fl w-100 w-25-l w-25-m">
<b>links</b>
<a class="fl w-100" href="">thoughts</a>
<a class="fl w-100" href="">things</a>
</div>
  <div class="fl w-100 w-25-l w-25-m">
<b>connect</b>
<a class="fl w-100" href="https://calendly.com/gndclouds/tea-time">tea time</a>
<a class="fl w-100" href="hyper://c7d2b9198df5148d9c7dbdb397d89dae5e72b1e78c539f4f55e73d130778e6fc/">p2p</a>
</div>
<div class="fl w-100 w-25-l w-25-m">
<b>other work</b>
<a class="fl w-100" href="https://buttondown.email/gndclouds">newsletter</a>
<a class="fl w-100" href="https://">twitter</a>
<a class="fl w-100" href="https://">futureland</a>
<a class="fl w-100" href="https://webring.xxiivv.com/#random">webring</a>

</div>
<div class="fl w-100 w-25-l w-25-m">
<b>portfolios</b>
<a class="fl w-100" href="/portfolio/design/">design</a>
{# <a class="fl w-100" href="/portfolio/research/">research</a>
<a class="fl w-100" href="/portfolio/development/">development</a> #}
{# <a class="fl w-100" href="/portfolio/technologist/">technologist</a> #}
</div>

    {# <a href="https://calendly.com/gndclouds/tea-time">tea time</a>  ·  <a href="https://webring.xxiivv.com/#random">webring</a>  ·  <a href="https://gndclouds.substack.com/embed">newsletter</a>  ·  <a href="https://gndclouds.cc/feed/feed.xml">rss</a>  ·  <a href="https://www.websitecarbon.com/website/gndclouds-cc/">carbon</a>   ·  <a href="hyper://c7d2b9198df5148d9c7dbdb397d89dae5e72b1e78c539f4f55e73d130778e6fc/">P2P</a> #}


  </footer>
