  <footer class="flex w-100 pa3 tl">
    <div class="fl w-25 pa3 mr2">
      <a href="https://calendly.com/gndclouds/tea-time">tea time</a>
    </div>
    <div class="fl w-25 pa3 mr2">
      <a href="https://webring.xxiivv.com/#random">webring</a>
    </div>
    <div class="fl w-25 pa3 mr2">
      <a href="https://gndclouds.substack.com/embed">newsletter</a>
    </div>
    <div class="fl w-25 pa3 mr2">
      <a href="https://gndclouds.cc/feed/feed.xml">rss</a>
    </div>
    {# <div class="center w-25 pa3 mr2 tc">
      <a class="link dim dib pa2" href=“https://webring.xxiivv.com/#random" rel="noreferrer" target="_blank">
        <img src="https://webring.xxiivv.com/icon.black.svg" style="max-width:15px;"></a>
    </div> #}
    <div class="fl w-25 pa3 mr2">
      <a href="hyper://c7d2b9198df5148d9c7dbdb397d89dae5e72b1e78c539f4f55e73d130778e6fc/">P2P</a>
    </div>
  </footer>
