<nav class="dt w-100 pa3-ns">
  <div class="dtc v-mid w-50 tl">

    {% include "components/search.njk" %}

  </div>
  <div class="dtc v-mid w-15 tr">
    <a class="link dib{% if entry.url === page.url %}link dib b{% endif %}" href="/notes/">thoughts</a> ·
    <a class="link dib{% if entry.url === page.url %}link dib b{% endif %}" href="/projects/">things</a>
    {# ·
    <a class="link dib{% if entry.url === page.url %}link dib b{% endif %}" href="/playlists/">playlists</a> #}
  </div>
</nav>


