  <div style="margin-top: 20vh;" class="flex w-100 pa3">
   <div class="w-100">
     {% set postslist = collections.hardware | head(-3) %}
     {% set postslistCounter = collections.hardware | length %}
     {% include "posts-preview.njk" %}
   </div>

  </div>
