<div>
  <div class="link dib">
    <a class="" href="/">gndclouds / </a>
    {# <input type="search" placeholder="{{metadata.title}}" id="searchField"> #}
  </div>
{#
  <ol class="search-results" id="searchResults"></ol>

  <div id="noResultsFound" style="display: none">
    <p>No results found.</p>
  </div> #}


  <script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/elasticlunr/0.9.6/elasticlunr.min.js"
  ></script>
  <script type="text/javascript" src="/js/search.js"></script>
</div>
