---
title: Tiny Hardware Club
description: Open Source doesn’t need to be hard to source. So we make kits of the most popular open hardware projects.
hero: /img/tiny-hardware-club/tiny-hardware-club-hero.gif
externalUrl: https://tinyhardware.club
date: 2021-01-03
life: Growing
realtedTo: []
type: indieweb
tags:
  - hardware
  - community
  - design
  - development
layout: layouts/project.njk
---

<section>
  <p>There is a large barrier around getting started in the open hardware community when it comes to sourcing and ordering components at reasonable volumes. I often found myself ordering two or three times the quantity I needed or spending ridiculous premiums at radio shack. <a href="https://tinyhardware.club">Tiny Hardware Club</a> maintains a community-sourced list of open hardware projects and creates kits of parts when an item gets enough community interest.</p>
  <br />

  <p>There are a lot of wonderful existing sites in this space! Platforms like <a href="https://www.tindie.com">Tindie</a> and <a href="https://www.crowdsupply.com">Crowd Supply</a> offer great ways to fund initial runs of hardware. While <a href="https://www.adafruit.com">Adafruit</a> and <a href="https://shop.pimoroni.com">Pimoroni</a> make friendly beginner and DIY components hardware with good documentation. </p>
  <br />

  <p>The complexity of open hardware is growing, and we are there to create a centralized place for decentralized open hardware to be discovered, sourced, and shared. Hopefully to empower more people to have agency over the things they buy, make, and use.</p>
  <br />

  <p>We are starting simple, with a website of projects you can upvote and a mailing list that gets sent out when we start accepting orders for a new project. You can <a href="https://tinyhardware.substack.com/embed">join the mailing lis</a>t, <a>submit your favorite hardware</a>, or <a>upvote an existing project</a>.</p>
  <br />


  <h2>Related Notes</h2>
  <br />
  <div class="w-100">
    {% set postslist = collections.hardware %}
    {% set postslistCounter = collections.hardware | length %}
    {% include "posts-preview.njk" %}
  </div>
</section>
