  <footer class="flex w-100 pa3 tl">
        <div class="fl w-25 pa3 mr2">
       <p> <a href="https://calendly.com/gndclouds/tea-time">Tea Time</a></p>
        </div>
        <div class="center w-25 pa3 mr2 tc">
          <a class="link dim dib pa2” href=“https://webring.xxiivv.com/#random" rel="noreferrer" target="_blank">
            <img src="https://webring.xxiivv.com/icon.black.svg" style="max-width:15px;"></a>
        </div>
        <div class="fr w-25 pa3 mr2 tr">
          <div class="select-wrapper">
            <p><a href="hyper://b77c257e9d694a48acfb07c85881f7caa4082d074008dcc3c5ba83bec07fadfd/">p2p</a></p>
          </div>
        </div>
    </footer>
