---
layout: layouts/base.njk
templateClass: tmpl-home
---

{{ content | safe }}

<div class="fl w-100 pa3 pa4-m pa6-l">
  <p><a>note</a> represent my blog, </p>
  {% set postslist = collections.posts | head(-6) %}
  {% set postslistCounter = collections.posts | length %}
  {% include "postslist.njk" %}
</div>

<div class="fl w-100 pa3 pa4-m pa6-l">
  <p><a>Logs</a> are part of how I document my workflow and share out my process with the tiny factories community. Those posts are shown here as logs.</p>
  {% set postslist = collections.logs | head(-9) %}
  {% set postslistCounter = collections.logs | length %}
  {% include "loglist.njk" %}

</div>






