---
layout: layouts/base.njk
templateClass: tmpl-home
---

Heya, I build web projects as part of Tiny Factories while thinking about strategies for climate mitigation. Some areas I have been thinking about are Biomimetic Manufacturing, People Computer Co-creation, and Infrastructure Resiliency.

notes from this week:
{{ content | safe }}
