---
layout: layouts/base.njk
templateClass: tmpl-home
---

{{ content | safe }}

<div class="fl w-100">
  <div class="fl w-100 w-50-ns pa3">
    <h2><a href="{{ '/posts/' | url }}">notes:</a></h2>
    {% set postslist = collections.posts | head(-5) %}
    {% set postslistCounter = collections.posts | length %}
    {% include "postslist.njk" %}
  </div>

  <div class="fl w-100 w-50-ns pa3">
    <h2><a href="{{ '/posts/' | url }}">log:</a></h2>
    {% set postslist = collections.logs | head(-5) %}
    {% set postslistCounter = collections.logs | length %}
    {% include "postslist.njk" %}

    </div>
  </div>






