---
layout: layouts/base.njk
---

<article class="center w-100 pa3 pa5-ns style=" margin-top: 10vh;">
  <h1 class="">{{ title }}</h1>
  {{ content | safe }}

</article>


<hr>
<ul>
  {%- set nextPost = collections.notes | getNextCollectionItem(page) %}
  {%- if nextPost %}<li>Next: <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a></li>{% endif %}
  {%- set previousPost = collections.notes | getPreviousCollectionItem(page) %}
  {%- if previousPost %}<li>Previous: <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></li>{% endif %}
</ul>
