---
layout: layouts/base.njk
templateClass: tmpl-post
---

<article class="center w-100 w-60-l pa3 pa5-ns">
  <h1 class="">{{ title }}</h1>
  {{ content | safe }}
</article>
<hr>
{% include "components/follow.njk" %}
