---
layout: layouts/base.njk
templateClass: tmpl-post
---
<article class="center w-100 pa3" style="margin-top: 10vh;">
  <header class="">
    <img class="dib v-mid-ns" src="{{ hero }}" />
    <div class="dib v-mid-ns pl3-ns ">
      <h1 class="">{{ title }}</h1>
      <p class="">{{ description }}</p>
      <time class=""> {{date | displayDateYearMonthDay }}
      </time>
    </div>
  </header>
  <br  />

<section class="fl w-100">{{ content | safe }}</section>
</article>
<!-- {% include "webmentionlist.njk" %} -->
<!-- {% include "components/related.njk" %} -->

{% include "components/follow.njk" %}
