---
layout: layouts/base.njk
templateClass: tmpl-post
---
<article>

<header class="bg-gold" style=" background-image:url({{hero }}); background-position: center; background-repeat: no-repeat; background-size: cover; ">
  <div class="center w-100 w-60-l pa3 pa5-ns">
    <h3 class="f2 f1-m f-headline-l measure-narrow lh-title mv0">
      <span class="bg-black-90 lh-copy white pa1 tracked-tight">
        {{ title }}
      </span>
    </h3>
    <h4 class="f3 fw1 georgia i">{{ description }}</h4>
    <time class="f6 mb2 dib ttu tracked"><small>Shipped{{ date }}</small></time>
    <time class="f6 mb2 dib ttu tracked"><small>start{{ date }}</small></time>

  </div>
</header>
<div class="center w-100 w-60-l pa3 pa5-ns">

  {{ content | safe }}
</div>
</article>
{% include "webmentionlist.njk" %}

<hr>
{% include "components/follow.njk" %}
